.toolbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.mat-toolbar {
  height: 94px;
}

.btn-add {
  margin-left: 5px;
}

.btn-delete {
  margin-left: auto;
}

.mat-form-field.mat-form-field {
  width: 300px;
}
